<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="page-header">
    <a href="{% url 'tour_registration' %}" class="'top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <h1>Здравствуйте, {{registration.User}}! Пожалуйста, заполните данную форму, чтобы зарегистрироваться на тур</h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>